<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
 	"http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<configuration>
	<typeAliases>
		<typeAlias alias="UserInfo" type="cn.gyyx.test.guohai.beans.UserInfo" />
	</typeAliases>
	<environments default="account">
		<environment id="account">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
				<property name="url" value="jdbc:sqlserver://192.168.6.129:1433;databaseName=account_db;" />
				<property name="username" value="java" />
				<property name="password" value="java" />
			</dataSource>
		</environment>
		<environment id="blog">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
				<property name="url" value="jdbc:sqlserver://192.168.6.129:1433;databaseName=blog_db;" />
				<property name="username" value="java" />
				<property name="password" value="java" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mybatis-mapper/User.xml"/>
	</mappers>
</configuration>