<html>
<head>
    <title>Home</title>
</head>
<body>
<h1>
    Hello world!  VM
</h1>


<P>  The time on the server is ${serverTime}. </P>
#{include}("foot.html")
#set($count=1)
count:  $count
<br/>
#set($count=$count+1)
count: $count

<br/>
#evaluate( 'string with VTL #if(true)will be displayed#end' )
<br/><br/><br/>
#define( $hello ) Hello $who #end 

$hello

#set( $who = "World!") 
$hello ## displays Hello World!
<br/><br/><br/>
#macro( d )   
<tr><td>1<td><tr>  
#end   
#d() 
<br/><br/><br/>
#[[
This has invalid syntax that would normally need "poor man's escaping" like:

#define()
${blah}
]]#
</body>
</html>